<div class="chatboxhead">
  <div class="chatboxtitle">
    <i class="fa fa-comments"></i>
    <h1><%= @conversation.name %> </h1>
  </div>
  <div class="chatboxoptions">
    <%= link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @conversation.id %>
    &nbsp;&nbsp;
    <%= link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @conversation.id %>
  </div>
</div>
<% if @manual_flag %>
	<div class="chatboxcontent">
<% else %>
	<div class="chatboxcontent" style="display: none;">
<% end %>
  <% if @messages.any? %>
      <%= render @messages %>
  <% end %>
</div>
<% if @manual_flag %>
	<div class="chatboxinput">
<% else %>
	<div class="chatboxinput" style="display: none;">
<% end %>
  <%= form_for([@conversation, @message], :remote => true, :html => { id: "conversation_form_#{@conversation.id}"}) do |f| %>
      <%= f.text_area :body, class: "chatboxtextarea", "data-cid" => @conversation.id %>
  <% end %>
</div>
<audio id="chatAudio"><source src="/plugin_assets/redmine_chat/sounds/notification.mp3" type="audio/mpeg"></audio>
<%= subscribe_to conversation_path(@conversation), User.current, @project %>
