<%= form_tag({:controller => "chat_settings", :action => "save", :project_id => @project, :tab => 'chat'}, :method => :post, :class => "tabular") do %>
  <div class="tabular box">
    <p>
      <label><%= l(:label_chat_auto_pop_on_load) %></label>
      <%= hidden_field_tag('chat_settings[chat_auto_pop_on_load]', 0)  %>
      <%= check_box_tag 'chat_settings[chat_auto_pop_on_load]', 1, ChatSetting[:chat_auto_pop_on_load, @project.id].to_i > 0 %>
    </p>
    
    <p>
  	  <label><%= l(:label_max_number_in_chat) %></label>
  	  <%= select_tag 'chat_settings[max_number_in_chat]',  options_for_select([["5", "5"],
                                                                     ["10", "10"],
                                                                     ["20", "20"],
                                                                     ["40", "40"],
                                                                     ["80", "80"],
                                                                     ["100", "100"]], ChatSetting[:max_number_in_chat, @project.id]) %>
	</p>
    
  </div>

  <%= submit_tag l(:button_save) %>
<% end %>
