<li class="<%= chat_message.user == User.current ? "self" : "other" %>">
  <div class="avatar">
  	<% if avatar(chat_message.user, :size => "32").blank? %>
    	<%= link_to_user(chat_message.user, :format => :username) %>
    <% else %>
    	<%= link_to(avatar(chat_message.user, :size => "32"), user_path(chat_message.user)) %>
    <% end %>
  </div>
  <div class="chatboxmessagecontent">
    <p><%= textilizable(chat_message.body) %></p>
    <time datetime="<%= format_time(chat_message.created_at) %>" title="<%= format_time(chat_message.created_at) %>">
      <%= chat_message.user.name %> • <%= format_time(chat_message.created_at, false) %>
    </time>
  </div>
</li>