<div class="contextual">
</div>

<h2><%=l(:label_chat_messages)%></h2>

<% if @chat_messages.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <% @chat_messages.each do |chat_message| %>
    <h6><%= avatar(chat_message.user, :size => "24") %><%= authoring chat_message.created_at, chat_message.user %></h6>
    <%= textilizable(chat_message.body) %>
    <% if User.current.allowed_to?(:delete_chat_messages, @project) || (chat_message.user == User.current && User.current.allowed_to?(:delete_own_chat_messages, @project)) %>
    <p class="buttons">
      <%= link_to image_tag('delete.png'), project_chat_message_path(chat_message.conversation.project, chat_message),
                                                                      :data => {:confirm => l(:text_are_you_sure)},
                                                                      :method => :delete,
                                                                      :title => l(:button_delete) %>
    </p>
    <% end %>
  <% end %>
<% end %>
<span class="pagination"><%= pagination_links_full @chat_messages_pages %></span>
